<head>
<style type="text/css">
body {
	background-image:url('images/background.png');
	background-repeat: repeat-x;
	margin: 0px;
}

#divLogo{
	
	background-image:url('images/logo.png');
	background-color: white;
	background-repeat: no-repeat;
	width: 100%;
	height: 140px;
}


#divTopBar{
	background-image:url('images/topbar.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 38px;
}


</STYLE>
</head>






<body>
	
	
	<div id="divLogo"></div>
	<div id="divTopBar"></div>
	
	<ul>
		<li><%= link_to "PesquisarLeilao"%></li>
		<li><%= link_to "CriarLeilao"%></li>
		<li><%= link_to "RegistrarLance"%></li>		
	</ul>
	
	
	
	

</body>

